html {
    font-family: sans-serif;
    line-height: 1.15;
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1a;
    text-align: left;
    height: 60%;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
}

.map {
    flex: 1;
    background: #f0f0f0;
	
}

.info {
    font-weight:bold;
    margin: 0;
	justify-content:center;
	display:flex;
	color:black;
	background:#b3abd0;
}
.mess{
    font-weight: bold;
    margin:0 auto; /* Center horizontally by setting left and right margins to 'auto' */
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:red;
    color: #1a1a1a;
    /* Center vertically by setting the height of the element to 100% of the viewport height */
	border-radius: 100%;
    width: 180px; /* Set a fixed width and height for the circular button */
    height: 180px;
    cursor: pointer; /* Add a pointer cursor for hover effect */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
	 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
/* Add padding to make the button larger */
}
.mess::before {
    content: "Emergency"; /* Add your desired text here */
    position: absolute;
    justify-content:center;
	margin-left:80px;
	margin-top:25px;
	align-items:center;
	display:grid;
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
	
}
.mess:hover {
    background: #3b25da; /* Change background color on hover */
    color: aliceblue;
}

.loc{
	font-weight:bold;
	justify-content:center;
	display:flex;
	align-items:center;

	background:#b3abd0;
}
.info.error {
    color: #fff;
    background: #dc3545;
}
.filter{
	border:3px;
	border-color:red;
	margin-left:85px;
	margin-right:85px;
	padding:30px;
}
@media (max-width: 768px) {
    .filter{
        margin-left: auto;
        margin-right: autop;
        justify-content: center;
        padding: 20px;
        width: 100%;
    }
   .mess{
    width: 120px;
    height: 120px;
   }
}
